name: release-final

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  configure-and-build:
    name: Release Ollama for 780M
    runs-on: [self-hosted, windows]
    
    defaults:
      run:
        shell: powershell

    steps:
      - name: Checkout Repository , Add gfx 1103, and compile
        #uses: actions/checkout@v4
        run: |
          git clone https://github.com/ollama/ollama
          cd ollama

          $file = "CMakeLists.txt"
          
          if (-not (Test-Path $file)) {
            Write-Error "File $file tidak ditemukan!"
            exit 1
          }

          $stringLama = 'list(FILTER AMDGPU_TARGETS INCLUDE REGEX "^gfx(94[012]|101[02]|1030|110[012]|120[01])$")'
          
          $stringBaru = 'list(FILTER AMDGPU_TARGETS INCLUDE REGEX "^gfx(803|900(:xnack-)|902|90c(:xnack-)|1010(:xnack-)|1011|1012(:xnack-)|103[0-6]|110[0-3]|1150)$")'

          Write-Host "Sedang memproses $file..."
          $pattern = [Regex]::Escape($stringLama)
          
          $content = Get-Content $file -Raw
          $content = $content -replace $pattern, $stringBaru
          Set-Content -Path $file -Value $content
          
          Write-Host "Sukses: CMakeLists.txt telah diupdate."

          $file = "CMakePresets.json"

          if (-not (Test-Path $file)) {
            Write-Error "File $file tidak ditemukan!"
            exit 1
          }

          $find = '"AMDGPU_TARGETS": "gfx940;gfx941;gfx942;gfx1010;gfx1012;gfx1030;gfx1100;gfx1101;gfx1102;gfx1151;gfx1200;gfx1201;gfx908:xnack-;gfx90a:xnack+;gfx90a:xnack-"'
          
          $replace = '"AMDGPU_TARGETS": "gfx1103"'
          
          Write-Host "Sedang memproses $file..."
          $content = Get-Content $file -Raw
          
          $newContent = $content.Replace($find, $replace)
          
          Set-Content -Path $file -Value $newContent
          Write-Host "Sukses: CMakePresets.json telah diupdate."

          Write-Host "--- Cek CMakePresets.json ---"
          Select-String -Path "CMakePresets.json" -Pattern "gfx1103"
          
          Write-Host "--- Cek CMakeLists.txt ---"
          Select-String -Path "CMakeLists.txt" -Pattern "gfx1150"

          powershell -ExecutionPolicy Bypass -File .\scripts\build_windows.ps1

      - name: Generate Tag Name
        id: tag_generator
        run: |
          $date = Get-Date -Format "yyyyMMdd"
          $hash = $env:GITHUB_SHA.Substring(0, 7)
          $tagName = "v.$date"
          
          # Simpan ke GitHub Env agar bisa dipakai step selanjutnya
          echo "GENERATED_TAG=$tagName" >> $env:GITHUB_ENV
          Write-Host "Tag yang akan dibuat: $tagName"

      - name: Create Release & Upload
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # KUNCI UTAMA: Token autentikasi
        run: |

          # EKSEKUSI GH CLI
          # Syntax: gh release create <TAG> <FILES> --title <JUDUL> --notes <CATATAN>
          
          Write-Host "Mengupload release ke GitHub..."
          
          gh release create ${{ env.GENERATED_TAG }} "ollama\dist\OllamaSetup.exe" `
            --title "Ollama for 780M Release ${{ env.GENERATED_TAG }}" `
            --generate-notes `
            --target "${{ github.sha }}"

          Write-Host "Sukses! Release ${{ env.GENERATED_TAG }} telah dibuat."
          
      - name: Cleanup Workspace
        if: always()
        run: |
          Write-Host "Membersihkan folder kerja..."
          # Perintah ini kompatibel dengan PowerShell 5.1
          Remove-Item -Path $env:GITHUB_WORKSPACE\* -Recurse -Force -ErrorAction SilentlyContinue
          Write-Host "Pembersihan selesai."

